<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/one.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">AI-Powered Tracking<small class="d-none">🛡️</small></h2>
        <p>Instantly recognize food items and track calories with cutting-edge AI image recognition.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/two.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Fast & Accurate<small class="d-none">🚀</small></h2>
        <p>Get precise calorie estimates in seconds, optimized for speed and efficiency.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/three.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Seamless Logging <small class="d-none">📈</small></h2>
        <p>Easily add meals to your daily intake with a single snap—no manual entry needed.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Smart Insights
            <small class="d-none">🦉</small></h2>
            <p>Receive personalized nutrition breakdowns and meal recommendations based on your habits.
            </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Sync & Share<small class="d-none">✨</small></h2>
        <p>Connect with fitness apps and share progress with friends or trainers effortlessly.        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Custom Goals<small class="d-none">🧰</small></h2>
        <p>Set calorie targets and dietary preferences to match your health and fitness goals.
        </p>
    </div>
</div>
